body {
  font-family: "Open Sans", sans-serif;
  background-color: #eef1f4;

}

.layout_padding {
  padding: 75px 0;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*header section*/

.header_section {
  font-family: "Roboto", sans-serif;
  background-color: #21610B;
  color: #fff;
  min-height: 10px;
  padding: 1%;
  height: 1%;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .navbar-toggler {
  border-color: #fff;
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
}

.navbar-brand h1 {
  color: #f6fdfe;

}

.nav-link:hover {
  color: #ffffff;
}

.logo_box {
  width: 135px;

}

.logo_box img {
  width: 70%;
  border-radius: 100%;
}

.call_to_btn {
  display: inline-block;
  color: #ffffff;
  padding: 10px 35px;
  background-color: #f6bb08;
  margin-top: 5%;
  margin-bottom: 20%;
  border-radius: 0;
}

/*end header section*/

/* slider section */

.slider_section {
  height: calc(100vh - 90px);
}

.slider_section .carousel-indicators {
  top: 50%;
  left: -75px;
  transform: translateY(-50%);
  display: block;
  bottom: unset;
  right: unset;
}

.slider_section .carousel-indicators li {
  width: 16px;
  height: 16px;
  opacity: 1;
  margin: 0 auto;
}

.slider_section .carousel-indicators .active {
  width: 24px;
  height: 24px;
  background-color: #00A82D;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.slider_section .slider_box {
  display: flex;
  position: relative;
  height: calc(100vh - 90px);
  background-image: url(../images/fondo-reci.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.slider_section .slider_box .fixed_company-detail {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.slider_section .slider_box .fixed_company-detail p {
  width: 12px;
  text-align: center;
  word-break: break-word;
  color: #000000;
  text-transform: uppercase;
}

.slider_section .slider_box .slider-detail {
  color: #000000;
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;

}

.slider_section .slider_box .slider-detail .slider_detail-heading h2 {
  font-weight: 100;
  text-transform: uppercase;

}

.slider_section .slider_box .slider-detail .slider_detail-heading h1 {
  font-weight: 10%;
  text-transform: uppercase;
  font-size: 30px;

}

.slider_section .slider_box .slider-detail .slider_detail-text {
  width: 95%;
  color: #000000;
}

.slider_section .slider_box .slider-detail .slider_detail-btn {
  display: flex;
}

.slider_section .slider_box .slider-detail .slider_detail-btn a {
  margin-top: 28px;
  padding: 16px 20px;
  background-color: #00A82D;
  color: #121010;
}

/* end slider section */

/* welcome section */
.welcome_section {}

.welcome_section .col-md-6 {
  padding: 0 4%;
}

.welcome_detail {
  width: 90%;
  margin-left: 10px;
}

.welcome_detail h2 {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.welcome_detail h3 {
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;

}

.welcome_detail h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #00A82D;
}

.welcome_detail h2,
.welcome_detail p,
.welcome_detail .welcome_detail-btn {
  margin-top: 25px;
}

.welcome_section .welcome_detail-btn a,
.welcome_section .welcome_detail-btn a:hover {
  text-transform: uppercase;

  color: #000000;
}

.welcome_section .welcome_detail-btn a img {
  width: 10%;
  height: 80%;
}

/* end welcome section */


/* security section */
.security_section {}

.security_section h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.security_section h3 {
  text-transform: uppercase;
  color: #000000;
  position: relative;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.security_section h3::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #00A82D;
}

.security_section .security_container {
  width: 90%;
  margin: 0 auto;
}

.security_section .security_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 300px;
  height: 490px;
  margin: 0 auto;
  z-index: 999;
}

.security_section .security_img-box.i-box-1 {
  background-image: url(../images/obj-reci5.jpg);
}

.security_section .security_img-box.i-box-2 {
  background-image: url(../images/obj-reci4.jpg);
}

.security_section .security_img-box.i-box-3 {
  background-image: url(../images/obj-reci3.jpg);
}


.security_section .security_img-box a {
  display: none;
  opacity: 0;
  text-transform: uppercase;
  padding: 8px 12px;
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.security_section .security_img-box:hover a {
  display: inline-block;
  opacity: 1;
}

.security_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.security_btn a,
.security_btn a:hover {
  text-transform: uppercase;

  color: #000000;
}

.security_btn a img {
  width: 25px;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-nav.disabled {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  background-color: #00A82D;
  width: 70px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-next {
  right: -25px;
  background-image: url(../images/right-arrow.png);
}

.owl-carousel .owl-nav .owl-prev {
  left: -25px;
  background-image: url(../images/left-arrow.png);
}

/* end security section */



/* info section */
.info_section {
  background-color: #0c1a11;
  font-family: "Roboto", sans-serif;
}

.info_section .info_detail {
  display: flex;
  align-items: center;
}

.info_section .info_detail p {
  color: #ffffff;
}

.address_link-container {
  display: block;
}

.address_link-container a {
  display: flex;
  color: #ffffff;
  margin: 15px 0;
  align-items: center;
}

.address_link-container a img {
  margin-right: 10px;
}

.info_section .news_container h3,
.info_section .address_container h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
}

.info_section .news_container form {
  margin: 28px 0;
}

.info_section .news_container form input {
  border: none;
  background-color: #ffffff;
  width: 70%;
  padding: 7px 10px;
}

.info_section .news_container form button {
  border: none;
  background-color: #00A82D;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 15px;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .news_container .social_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.info_section .news_container .social_container>div {}

/* end info section */

/* footer section*/

.footer_section {
  background-color: #00A82D;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}

/* end footer section*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.main-content{
  margin-top: 100px;
}


