/* seccion para estilo del formulario */
select{
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    width: 80%;
	border:none;
    
}

select option{
    background-color: rgb(224, 234, 234);
    color: black;
    font-size: 16px;
    vertical-align: middle;
	border:none;
    
   }
#formulario_recogida{
    width:80%;
	padding:50px;
	border-radius:10px;
	margin: 0 auto 20px;
	background-color:#f5f7f7;
    box-shadow: 2px 2px 2px gray;
	border:none;
    
   
}
form label{
	width:100%;
	font-weight:bold;
    display: inline-block;
	border:none;

}
textarea{
	width:80%;
	height:100px;
	border-radius:3px;
	background-color:white;			
	margin:8px 0;
	resize:none;
	display:block;
}

form input[type="submit"]{
	width:20%;
	padding:8px 16px;
	margin-top:32px;
	border:none;
	border-radius:5px;
	display:block;
	color:#f9fefe;
	background-color:#10701d;
} 
form input[type="text"]{
    width: 80%;
}
form input[type="tel"]{
    width: 80%;
}
.titulo1{
    text-align: center;
    color: #123517;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
/* fin seccion de estilo del formulario */

/* /* estilo para el buscador recila */
#recicla{
	text-align: center;
	color: rgb(11, 31, 11);
	background-image: url(images/fondo-buscador.jpg);
	padding: 20px;
	font-size: 21px;
	margin-top: 20px;
}

/* fin de estilo para el buscador recicla */ 



